.entry {
	display: block;
	float: left;
	width: 950px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px #5C5C5C dotted;
}

.entry h3 {
	font-weight: bold;
}

.entry img {
	float: left;
	margin-right: 50px;
}

.entry_text_wrapper {
	float: left;
}

.first_entry {
	padding-top: 0;
}

.last_entry {
	padding-bottom: 0;
	border-bottom: 1px #FFFFFF solid;
}